<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bbbc12d-abc6-4584-8bf8-8951cc9965b3" Alias="SkrivLet" Level="1">
  <Info>
    <Name>SkrivLet</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.Skrivlet.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
