<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93613d26-4951-4ddd-a734-4625a60812eb" Alias="anotherPage" Level="2">
  <Info>
    <Name>Another Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="c9a391c9-7b2f-4e3a-b23c-6406947cd115">page</Parent>
    <Compositions>
      <Composition Key="c9a391c9-7b2f-4e3a-b23c-6406947cd115">page</Composition>
    </Compositions>
    <DefaultTemplate>AnotherPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f947b-5999-7671-ae68-59f78ff69678">AnotherPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>