<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b0a608e-281f-4c73-91fa-fdf244a5060c" Alias="genericPage" Level="1">
  <Info>
    <Name>Generic Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>GenericPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f9491-576b-7aa7-8d11-629851436d3a">GenericPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b0a608e-281f-4c73-91fa-fdf244a5060c" SortOrder="0">genericPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b9b89907-9a71-440c-9602-79466688c7db</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>75a01cbd-f92b-4761-8058-f54ccdb7bae5</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>