<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7161d7-1b5c-4450-b2c6-036d136e1d01" Alias="A page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/APage</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2026-07-24T14:40:06</CreateDate>
    <NodeName Default="A page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f9491-576b-7aa7-8d11-629851436d3a">GenericPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1785494800123,
  "blocks": [
    {
      "id": "xG9WADYFf3",
      "type": "header",
      "data": {
        "text": "Umbraco 17",
        "level": 2
      }
    },
    {
      "id": "b0td4pJoII",
      "type": "paragraph",
      "data": {
        "text": "Hello there!"
      }
    },
    {
      "id": "WD5nCT6B8V",
      "type": "image",
      "data": {
        "url": "https://localhost:44373/media/krha3mpn/gameboy.png",
        "alt": "gameboy.png",
        "udi": "umb://media/074884db35844c0d9844ba24e9193658",
        "width": 1846,
        "height": 2304
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
  </Properties>
</Content>