<?xml version="1.0" encoding="utf-8"?>
<Content Key="12c46ca5-6714-4eec-921e-4ae4ec38fa1b" Alias="Another page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnotherPage</Path>
    <Trashed>false</Trashed>
    <ContentType>anotherPage</ContentType>
    <CreateDate>2026-07-24T14:16:26</CreateDate>
    <NodeName Default="Another page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f947b-5999-7671-ae68-59f78ff69678">AnotherPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1785507025723,
  "blocks": [
    {
      "id": "nPK7DY_wmR",
      "type": "paragraph",
      "data": {
        "text": "\u003Ca href=\u0022/a-page/\u0022\u003E789789\u003C/a\u003E"
      }
    },
    {
      "id": "7Yx91wJQdy",
      "type": "paragraph",
      "data": {
        "text": "56756"
      }
    },
    {
      "id": "gV4b_3evPb",
      "type": "paragraph",
      "data": {
        "text": "Ever since I became more involved in the Umbraco community back in 2023, Codegarden is something I have heard mentioned constantly \u2013 people would share stories of some of the greatest (or worst) moments they had witnessed, the talks that had inspired them (both on and off the stage), and every other way they had gotten involved in the community."
      }
    },
    {
      "id": "08TDinMv3D",
      "type": "paragraph",
      "data": {
        "text": "This year, I finally got to experience it for myself."
      }
    },
    {
      "id": "-SBwSOAqrL",
      "type": "paragraph",
      "data": {
        "text": "To make it even more memorable, Codegarden was returning to Copenhagen for the first time in over a decade. I\u0027d heard so much about Odense that I was slightly disappointed to miss it, but Copenhagen had been on my travel list for years, so I certainly wasn\u0027t complaining."
      }
    },
    {
      "id": "o8my6N59AD",
      "type": "paragraph",
      "data": {
        "text": "While we technically arrived on Monday, it wasn\u0027t until later in the evening and it all went by in a bit of a blur. Rather than regale you with tales of passport control and late-night takeaways, I\u0027ll just get straight to the good stuff."
      }
    },
    {
      "id": "khfR0BEn0j",
      "type": "header",
      "data": {
        "text": "Tuesday",
        "level": 2
      }
    },
    {
      "id": "5mfjbtE48p",
      "type": "paragraph",
      "data": {
        "text": "Tuesday eased me into the week nicely. While some people headed to the MVP Summit, I had a workshop in the afternoon, leaving plenty of time to explore Copenhagen (and find enough coffee to keep me going)."
      }
    },
    {
      "id": "GCPlCXvj9w",
      "type": "paragraph",
      "data": {
        "text": "The workshop, We Need to Go Deeper: Extending Umbraco\u0027s Extensions, was led by Corn\u00E9 Hoskam, Ronald Barendse and Nathan Woulfe. It introduced the philosophy behind the new backoffice - everything is an extension - before turning the session into an escape-room-style challenge where we built extensions to unlock fragments of a GUID and post messages to a leaderboard that would be posted to screens all around the conference."
      }
    },
    {
      "id": "u142M1Wvu-",
      "type": "paragraph",
      "data": {
        "text": "That evening I was finally introduced to a Codegarden institution \u2013 Warpigs. I\u0027d heard people talk about Warpigs every time Codegarden came up, and now I understand why. Great barbecue, excellent craft beer, and Slipknot as the soundtrack to it all. What\u2019s not to love?"
      }
    },
    {
      "id": "eSXnJ_DxAD",
      "type": "paragraph",
      "data": {
        "text": "From there we headed to the pre-party, which perfectly set the tone for the week to come. It\u2019s always a pleasure to catch up in person with members of the community who have come from further afield, as we rarely get the chance to see each other face to face."
      }
    },
    {
      "id": "F6t6qkNDHX",
      "type": "paragraph",
      "data": {
        "text": "56terwtw er"
      }
    },
    {
      "id": "yAgSUi2fWA",
      "type": "paragraph",
      "data": {
        "text": "wertewrt"
      }
    },
    {
      "id": "dYU4xpgSwu",
      "type": "paragraph",
      "data": {
        "text": "234234523142"
      }
    },
    {
      "id": "xpMmgWHdcg",
      "type": "paragraph",
      "data": {
        "text": "13 1234 124 1234 HS"
      }
    },
    {
      "id": "rbAburtS3m",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "ql0n2Qxwsc",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "IOgG5NBD2f",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "rZ5dfCXR6i",
      "type": "confetti",
      "data": {
        "text": "gererterter"
      }
    },
    {
      "id": "_TT5wQeQHM",
      "type": "code",
      "data": {
        "code": "\u003Ch1\u003EI am some code\u003C/h1\u003E"
      }
    },
    {
      "id": "bAnHc9Ycx1",
      "type": "quote",
      "data": {
        "text": "6456456456456",
        "caption": "yutyutry",
        "alignment": "left"
      }
    },
    {
      "id": "cIdrDLBZEO",
      "type": "image",
      "data": {
        "url": "https://localhost:44373/media/krha3mpn/gameboy.png",
        "alt": "gameboy.png",
        "udi": "umb://media/074884db35844c0d9844ba24e9193658"
      }
    },
    {
      "id": "6XI4eu4lf3",
      "type": "embed",
      "data": {
        "service": "youtube",
        "source": "https://www.youtube.com/watch?v=TB46jnnYgpA",
        "embed": "https://www.youtube.com/embed/TB46jnnYgpA",
        "width": 580,
        "height": 320,
        "caption": ""
      }
    },
    {
      "id": "jiFgF8UT22",
      "type": "confetti",
      "data": {
        "text": "dsafsadf"
      }
    },
    {
      "id": "slrU8d8ZL2",
      "type": "umbracoBlock",
      "data": {
        "contentTypeKey": "4fe94bbd-94c9-4244-b693-e075f120390f",
        "contentTypeAlias": "alertBox",
        "contentTypeName": "Alert Box",
        "udi": "umb://element/91b8cbe1bbec4a07b4aec488beb76065",
        "values": {
          "heading": "Heading",
          "message": {
            "markup": "\u003Cp\u003Eghfdgh\u003C/p\u003E",
            "blocks": {
              "layout": {},
              "contentData": [],
              "settingsData": [],
              "expose": []
            }
          },
          "image": [
            {
              "key": "6ba856db-af7a-4912-afc8-29986bee9f0f",
              "mediaKey": "074884db-3584-4c0d-9844-ba24e9193658",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      }
    },
    {
      "id": "cQ9xC4rd01",
      "type": "umbracoBlock",
      "data": {
        "contentTypeKey": "b3eb7cb7-d0ef-430c-90ea-b43dc49623b8",
        "contentTypeAlias": "card",
        "contentTypeName": "Card",
        "udi": "umb://element/ce7b6192e69448438d53697dfe7512dd",
        "values": {
          "heading": "Codegarden 2026",
          "body": {
            "markup": "\u003Cp\u003ECopenhagen was everything I\u0027d hoped for - and this card proves it\u0027s rendered by SkrivLetUmbracoBlockOptions\u0027 own custom partial, not the generic property dump.\u003C/p\u003E",
            "blocks": {
              "layout": {},
              "contentData": [],
              "settingsData": [],
              "expose": []
            }
          },
          "image": [
            {
              "key": "fe27aeaa-890e-455c-8940-f84e9fb3ccae",
              "mediaKey": "074884db-3584-4c0d-9844-ba24e9193658",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      }
    },
    {
      "id": "XAroeWB5nS",
      "type": "confetti",
      "data": {
        "text": "This is a call"
      }
    },
    {
      "id": "bPayTL8Jg7",
      "type": "umbracoBlock",
      "data": {
        "contentTypeKey": "b3eb7cb7-d0ef-430c-90ea-b43dc49623b8",
        "contentTypeAlias": "card",
        "contentTypeName": "Card",
        "udi": "umb://element/2f0423360ebd4801bc01f0a7e8ca1bd6",
        "values": {
          "heading": "Card",
          "image": [
            {
              "key": "64f13026-22f3-4ce2-9eb0-d235aa7caff1",
              "mediaKey": "074884db-3584-4c0d-9844-ba24e9193658",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ],
          "body": {
            "markup": "\u003Cp\u003Eewrwrew\u003C/p\u003E",
            "blocks": {
              "layout": {},
              "contentData": [],
              "settingsData": [],
              "expose": []
            }
          }
        }
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
    <tipTap>
      <Value><![CDATA[]]></Value>
    </tipTap>
  </Properties>
</Content>