<?xml version="1.0" encoding="utf-8"?>
<Content Key="12c46ca5-6714-4eec-921e-4ae4ec38fa1b" Alias="Another page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnotherPage</Path>
    <Trashed>false</Trashed>
    <ContentType>anotherPage</ContentType>
    <CreateDate>2026-07-24T14:16:26</CreateDate>
    <NodeName Default="Another page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f947b-5999-7671-ae68-59f78ff69678">AnotherPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1784907595030,
  "blocks": [
    {
      "id": "nPK7DY_wmR",
      "type": "paragraph",
      "data": {
        "text": "789789"
      }
    },
    {
      "id": "7Yx91wJQdy",
      "type": "paragraph",
      "data": {
        "text": "56756"
      }
    },
    {
      "id": "F6t6qkNDHX",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "rbAburtS3m",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "ql0n2Qxwsc",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "IOgG5NBD2f",
      "type": "paragraph",
      "data": {
        "text": "56"
      }
    },
    {
      "id": "bAnHc9Ycx1",
      "type": "quote",
      "data": {
        "text": "6456456456456",
        "caption": "yutyutry",
        "alignment": "left"
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
    <tipTap>
      <Value><![CDATA[]]></Value>
    </tipTap>
  </Properties>
</Content>