<?xml version="1.0" encoding="utf-8"?>
<Content Key="78537305-f4e8-46c0-9d88-ebd1642ed3d7" Alias="Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-11-12T11:56:51</CreateDate>
    <NodeName Default="Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe8746c-8b73-41a9-b122-7272341b85a4">page</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1784902486727,
  "blocks": [
    {
      "id": "3CI5wbQHdI",
      "type": "header",
      "data": {
        "text": "We failed",
        "level": 2
      }
    },
    {
      "id": "48P3kSeApm",
      "type": "paragraph",
      "data": {
        "text": "Something else"
      }
    },
    {
      "id": "-r1x7Up7ZL",
      "type": "quote",
      "data": {
        "text": "sdfgdsfgddsfgdsgsfgsdfg",
        "caption": "sdfgdsfgdf",
        "alignment": "left"
      }
    },
    {
      "id": "MY83UQ7MX5",
      "type": "paragraph",
      "data": {
        "text": "sdfgdsfgdfs"
      }
    },
    {
      "id": "4e8ZyO_Fw3",
      "type": "paragraph",
      "data": {
        "text": "erterwterw"
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
    <tipTap>
      <Value><![CDATA[]]></Value>
    </tipTap>
  </Properties>
</Content>