<?xml version="1.0" encoding="utf-8"?>
<Content Key="600fbf86-9389-4c6f-9fed-aaab6e759979" Alias="They said it couldnt be done" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheySaidItCouldntBeDone</Path>
    <Trashed>false</Trashed>
    <ContentType>anotherPage</ContentType>
    <CreateDate>2026-07-31T14:16:40</CreateDate>
    <NodeName Default="They said it couldnt be done" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f947b-5999-7671-ae68-59f78ff69678">AnotherPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1785508535594,
  "blocks": [
    {
      "id": "_QmDntJQXd",
      "type": "header",
      "data": {
        "text": "Could it be done?",
        "level": 2
      }
    },
    {
      "id": "bk1ytQNL0o",
      "type": "paragraph",
      "data": {
        "text": "A custom editor.js block registered in this website"
      }
    },
    {
      "id": "hETydfVuSh",
      "type": "confetti",
      "data": {
        "text": "Hello there!"
      }
    },
    {
      "id": "DafCh8iNz7",
      "type": "umbracoBlock",
      "data": {
        "contentTypeKey": "b3eb7cb7-d0ef-430c-90ea-b43dc49623b8",
        "contentTypeAlias": "card",
        "contentTypeName": "Card",
        "udi": "umb://element/e0b6765f8308449e996bbf64dead20ad",
        "values": {
          "heading": "Umbraco block speaking",
          "image": [
            {
              "key": "9d6583dc-ceb7-403e-a0f9-1180d591ff34",
              "mediaKey": "074884db-3584-4c0d-9844-ba24e9193658",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ],
          "body": {
            "markup": "\u003Cp\u003Efgdfsgdsfg\u003C/p\u003E",
            "blocks": {
              "layout": {},
              "contentData": [],
              "settingsData": [],
              "expose": []
            }
          }
        }
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
    <tipTap>
      <Value><![CDATA[]]></Value>
    </tipTap>
  </Properties>
</Content>