<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7161d7-1b5c-4450-b2c6-036d136e1d01" Alias="A page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/APage</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2026-07-24T14:40:06</CreateDate>
    <NodeName Default="A page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f9491-576b-7aa7-8d11-629851436d3a">GenericPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "time": 1784907614948,
  "blocks": [
    {
      "id": "L3rDqK0DpM",
      "type": "paragraph",
      "data": {
        "text": "Content please"
      }
    },
    {
      "id": "DGJCw_cpRv",
      "type": "header",
      "data": {
        "text": "sdfgsd",
        "level": 2
      }
    },
    {
      "id": "VTXIqWuv70",
      "type": "paragraph",
      "data": {
        "text": "sdfg"
      }
    },
    {
      "id": "T5Bw-Qbp2h",
      "type": "paragraph",
      "data": {
        "text": "sdfg"
      }
    },
    {
      "id": "3AoEVi3QRt",
      "type": "quote",
      "data": {
        "text": "tyu",
        "caption": "",
        "alignment": "left"
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </content>
  </Properties>
</Content>