<?xml version="1.0" encoding="utf-8"?>
<Content Key="73a78549-f296-4195-a0b4-f8b9d51e8e7e" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T09:29:46</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019fa80e-c770-7949-b423-f12762d20fcc">Page</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <writing>
      <Value><![CDATA[{
  "time": 1785231742997,
  "blocks": [
    {
      "id": "zEcAUZnPgY",
      "type": "paragraph",
      "data": {
        "text": "324234"
      }
    },
    {
      "id": "ub3jKu90QR",
      "type": "paragraph",
      "data": {
        "text": "234"
      }
    },
    {
      "id": "eF8pupVp_H",
      "type": "paragraph",
      "data": {
        "text": "23"
      }
    },
    {
      "id": "Pz58CdhW6-",
      "type": "paragraph",
      "data": {
        "text": "234"
      }
    },
    {
      "id": "wfAbJvIrJn",
      "type": "paragraph",
      "data": {
        "text": "Some \u003Ca href=\u0022/\u0022\u003Ewriting \u003C/a\u003Ehere"
      }
    },
    {
      "id": "Mc1p7t1ooi",
      "type": "image",
      "data": {
        "url": "https://localhost:44375/media/mhil4lal/gibeesportshoodie.jpg",
        "alt": "gibeEsportsHoodie.jpg",
        "udi": "umb://media/9af91aee106248f29c478704e9fe1a58"
      }
    }
  ],
  "version": "2.31.6"
}]]></Value>
    </writing>
  </Properties>
</Content>