<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f3182ec-9a21-4643-a46c-4f500de64175" Alias="Page - Writing - SkrivLet" Level="1">
  <Info>
    <Name>Page - Writing - SkrivLet</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.Skrivlet.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>