<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75a01cbd-f92b-4761-8058-f54ccdb7bae5" Alias="SkrivLet" Level="1">
  <Info>
    <Name>SkrivLet</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.Skrivlet.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>