<?xml version="1.0" encoding="utf-8"?>
<Media Key="074884db-3584-4c0d-9844-ba24e9193658" Alias="gameboy.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gameboypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-27T15:12:06</CreateDate>
    <NodeName Default="gameboy.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/krha3mpn/gameboy.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>