<?xml version="1.0" encoding="utf-8"?>
<Media Key="9af91aee-1062-48f2-9c47-8704e9fe1a58" Alias="gibeEsportsHoodie.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gibeEsportsHoodiejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-28T09:31:01</CreateDate>
    <NodeName Default="gibeEsportsHoodie.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mhil4lal/gibeesportshoodie.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>